/*MOBILE FIRST*/

/* #region COMMUM */

/* #region variables CSS */
:root {
    --clearColor: #EDEDED;
    --darkColor: #000;
    --background: #e5e2e2;
    --rocColorR: #565656;
    --rocColorO: #009641;
    --rocColorC: #0375be;
    --cocktailColor: #002136;
    --bookingColor: #c8c4c5;
    --require: red;
}
/* #endregion variables CSS */

/* #region font */
@font-face{
    font-family: "DIN-Black";
    src:url("font/DIN-Black.ttf");
}
@font-face{
    font-family: "DIN-Bold";
    src:url("font/DIN-Bold.woff");
}
@font-face{
    font-family: "DIN-Medium";
    src:url("font/DIN-Medium.woff");
}
@font-face{
    font-family: "DIN-Regular";
    src:url("font/DIN-Regular.woff");
}
/* #endregion font */

* {
	box-sizing: border-box; 
}
html {
	font-size: 62.5%; /* 1rem = 10px */
}
body{
    background-color: var(--clearColor);
    font-family: DIN-Regular;
    font-size:1.8rem;
    color:var(--clearColor);
    text-align:justify;
    line-height: 1.5;
    margin: 0;
}
.anchor{
    padding-top: 10rem; /* offset management anchors vs header*/
    margin-top: -10rem;
}
.activity,
.booking,
.backBooking,
.temporaryBooking,
.contact,
.policy{
    padding: 2rem;
}
.activity{
    margin-top:-0.5rem; /*management space between sections*/
}
img{
    max-width:100%;
    width:100%;
}
h1, h2, h3, a, button{
    text-transform: uppercase;
    font-weight: normal;
}
h1{
    font-family: "DIN-Medium";
    font-size: 2.5rem;
    color: var(--darkColor);
    margin-top: 0;
}
.h1 span, .home span{
    color: var(--rocColorC);
}
h2{
    font-family: "DIN-Medium";
    font-size: 3.6rem;
    text-align: center;
    margin-top:0;
    padding: 0.5rem;
}
h3{
    font-family: "DIN-Medium";
    margin-top: 0;
}
.firstActivity{
    margin-top: 1rem;
}
.price{
    margin-bottom: 2rem;
}
.price h3{
    margin-bottom: 1rem;
    padding:0.5rem 1rem 0;
}
a:not(p a, td a){
    text-decoration:none;
}
p a, td a{
    color: var(--clearColor);
    text-transform: lowercase;
}
ul:not(.policy ul, .home ul){
    list-style:none;
    padding-left: 0;
}
table{
    border-collapse:collapse;
    text-align: left;
    width:100%;
}
th{
    border-bottom: 2px solid var(--clearColor);
}
td{
    border-top: 1px solid var(--clearColor);
    padding: 0.5em 0;
}
.tablePrice{
    text-align: right;
}
.paddle th,
.climbing th,
.archery th{
    display: none;
}
.button{
    display:flex;
    justify-content: space-around;
    margin: 1rem auto;
}
.button a, .home a, button{
    font-family: DIN-Medium;
    padding: 1rem;
    text-align: center;
    border-radius: 3rem;
    width:20rem;
    transition: transform 1s;
}
.button a, button{
    font-size: 1.5rem;
    margin:1rem;
}
.button a:hover, .index button:hover{
    transform:scale(1.1);
}
.desktop-button{
    display:none;
}
.desktop-button a{
    font-size: 1vw;
}
.cocktail span:nth-child(3n+1){
    color:var(--rocColorR);
}
.cocktail span:nth-child(3n+2){
    color:var(--rocColorO);
}
.cocktail span:nth-child(3n+3){
    color:var(--rocColorC);
}
div.form-error, .emptyField {
    color: var(--require);
    width: 100%;
}
.validate {
    color: var(--rocColorO);
    font-size: 2rem;
}
.alert{
    color: var(--require);
}
.hide{
    display:none;
}
.form{
    background-color: var(--clearColor);
}
.grid{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.green-border{
    border: 2px solid var(--rocColorO);
    border-radius: 5px;
}
.red-border{
    border: 2px solid var(--require);
    border-radius: 5px;
}
/* #endregion COMMUM */

/* #region HEADER */
header{
    position: sticky;
    top: 0;
    background: url('../img/background/borderHeader.png') bottom repeat-x, var(--background);
    height: 10rem;
    z-index: 100;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10rem;
    color: var(--darkColor);
    font-family: DIN-Regular;
    font-size: 1.8rem;
    white-space: nowrap;
    padding: 0 2rem;
}
.logo{
    max-width: 150px;
}
.navbar_links{
    display: flex;
    flex-direction: column;
    width:0;
    height:calc(100vh - 70px);
    position: absolute;
    top:68px;
    right:0;
    background: url("../img/picto/greenVttPicto.png")bottom no-repeat, var(--background);
    background-size: 10rem;
    margin:0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.show_nav .navbar_links{
    width:100%;
}
.navbar_link{
    transform: translateX(101%);
}
.show_nav .navbar_link{
    transform: translateX(0);
}
.navbar_link > a{
    display: block;
    color: var(--darkColor);
    padding: 1rem;
    transition: all 0.4s ease-in-out;
}
.navbar_link > a:hover{
    padding-left: 2rem;
    letter-spacing: 0.5rem;
}
.navbar_activities{
    background: none;
    transition: all 1s ease-in-out;
}
.show_nav .navbar_activities{
    background:  url("../img/picto/greyClimbingPicto.png")right no-repeat;
}
.navbar_activity a{
    display: block;
    width: max-content;
    padding: 1rem 5rem;
    transition: all 0.4s ease-in-out;
}
.navbar_activities li:nth-child(3n+1) a{
    color: var(--rocColorO)
}       
.navbar_activities li:nth-child(3n+2) a{
    color: var(--rocColorC)
}       
.navbar_activities li:nth-child(3) a{
    color: var(--rocColorR)
}       
.navbar_activities li:last-of-type a{
    color: var(--cocktailColor);
    background-color: var(--background);
}       
.navbar_activities a:hover{
    padding-left: 6rem;
    letter-spacing: 0.5rem;
}
/* toggle menu */
.burger{
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height:45px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.bar{
    display: block;
    width: 45px;
    height: 4px;
    background: var(--darkColor);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
.show_nav .bar{
    width:0;
    background: transparent;
}
.bar::before, .bar::after{
    content:'';
    position: absolute;
    left: 0;
    width: 45px;
    height: 4px;
    background: var(--darkColor);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
.bar::before{
    transform: translateY(-12px);
}
.show_nav .bar::before{
    transform: rotate(45deg)
}
.bar::after{
    transform: translateY(12px);
}
.show_nav .bar::after{
    transform: rotate(-45deg)
}
/* animation */
.show_nav .first{
    transition: all 1s ease-out
}
.show_nav .second{
    transition: all 1.1s ease-out
}
.show_nav .third{
    transition: all 1.2s ease-out
}
.show_nav .four{
    transition: all 1.3s ease-out
}
.show_nav .fifth{
    transition: all 1.4s ease-out
}
/* #endregion HEADER */

/* #region MAIN INDEX */

/* #region home */
.home .background{
    background: url('../img/background/vttTransition.png') bottom no-repeat;
    background-size: 100%;
}
.home{
    text-align:center;
    margin-top: 0;
    padding-top: 2rem;
    background: url("../img/mountain.jpeg") top;
    background-size: cover;
}
.home p{
    color: var(--rocColorR);
    padding: 0 2rem
}
.home p:last-of-type{
    padding-bottom: 10rem;
    margin-bottom: -0.5rem;
}
.home ul{
    display:none;
}
/* #endregion home */

/* #region bike */
.bike{
    background: url('../img/background/paddleTransition.png')bottom no-repeat, var(--rocColorO);
    background-size: 100%;
    padding-bottom: 8rem;
}
.bike h2{
    margin-bottom: 0;
}
.bike h2 + h3{
    text-align: center;
}
.bike span{
    text-transform: lowercase;
}    
.bike .price h3{
    background-color: var(--clearColor);
    color: var(--rocColorO);
}
.bike .button a{
    color:var(--clearColor);
    border: 2px solid var(--clearColor);
}
/* #endregion bike */

/* #region paddle */
.paddle{
    color:var(--rocColorR);
    background: url('../img/background/climbingTransition.png')bottom no-repeat, var(--background);
    background-size: 100%;
    padding-bottom: 8rem;
}
.paddle h2, .paddle h3{
    color:var(--rocColorC);
}
.paddle .price{
    background-color: var(--rocColorC);
    color: var(--clearColor);
    padding: 1rem;
}
.paddle .price h3{
    background-color: var(--clearColor);
}
.paddle .button a{
    color:var(--rocColorC);
    border: 2px solid var(--rocColorC);
}
/* #endregion paddle */

/* #region climbing */
.climbing{
    background: url('../img/background/archeryTransition.png')bottom no-repeat, var(--rocColorR);
    background-size: 100%;
    padding-bottom: 10rem;
}
.climbing h3{
    color:var(--rocColorO);
}
.climbing .price h3{
    background-color: var(--clearColor);
}
.climbing .button a{
    color:var(--clearColor);
    border: 2px solid var(--clearColor);
}
/* #endregion climbing */

/* #region archery */
.archery{
    color:var(--rocColorR);
    background: url('../img/background/snowboardTransition.png')bottom no-repeat, var(--background);
    background-size: 100%;
    padding-bottom: 10rem;
}
.archery h2{
    color:var(--rocColorO);
}
.archery .price{
    background-color: var(--rocColorO);
    color: var(--clearColor);
    padding: 1rem;
}
.archery .price h3{
    background-color: var(--clearColor);
    color: var(--rocColorO);
}
.archery .button a{
    color:var(--rocColorO);
    border: 2px solid var(--rocColorO);
}
/* #endregion archery */

/* #region snowboard */
.snowboard{
    background: url('../img/background/cocktailTransition.png')bottom no-repeat,  var(--rocColorC);
    background-size: 100%;
    padding-bottom: 10rem;
}
.snowboard h3{
    background-color: var(--clearColor);
    color: var(--rocColorC);
}
.snowboard .button a{
    color:var(--clearColor);
    border: 2px solid var(--clearColor);
}
/* #endregion snowboard */

/* #region cocktail */
.cocktail{
    background-color: var(--cocktailColor);
}
.cocktail .price{
    background-color: var(--clearColor);
    color: var(--darkColor);
    padding: 1rem;
}
.cocktail h3{
    width: 100%;
    color: var(--clearColor);
    background: url(../img/background/bgFullPicto.png) right no-repeat, var(--cocktailColor);
    background-size: contain;
}
.cocktail a:not(p a){
    background: linear-gradient(90deg, var(--rocColorR) 30%, var(--rocColorO)50%, var(--rocColorC)60%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border: 2px solid var(--rocColorO);
}
.cocktail .table th{
    color: var(--rocColorR);
    border-bottom: 2px solid var(--rocColorR);
}
.cocktail .table td{
    border-bottom: 2px solid var(--rocColorO);
} 
.cocktail .table td span{
    color: var(--rocColorO);
}
.cocktail .table tr:last-of-type td{
    border-bottom: 2px solid var(--rocColorC);
} 
.cocktail .table tr:last-of-type td span{
    color: var(--rocColorC);
}
/* #endregion cocktail */

/* #region testimony */
#testimony{
    background-color: var(--cocktailColor);
}
.testimony{
    background: url('../img/background/bgClimbingTestimony.png') top no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
.testimony h2{
    color:var(--cocktailColor);
}
.sliderBloc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:var(--clearColor);
    text-align: center;
    background-color: rgba(0, 33, 54, 0.7);
    width: 80%;
    margin: 0 auto;
    height: 25vh;
    border-radius: 4rem;
    overflow: hidden;
}
.testimony .slider div{
    text-align: left;
    padding-left: 2rem;
    padding-right: 4rem;
}
.testimony p{
    font-size: 3.5vw;
}
.testimony p + p{
    color: var(--rocColorO);
}
/* .testimony a{
    color: var(--clearColor);
    border: 2px solid var(--clearColor);
    width:unset;
    padding: 1rem 3rem;
} */
/* #endregion testimony */

/* #endregion MAIN INDEX */

/* #region SLICK */
.slick-next::before, 
.slick-prev::before {
	font-size: 2rem;
	color: #ebe3db;
}
.slick-next {
	right: 1rem;
}
.slick-prev {
	left: 1rem;
	z-index:1;
}
.slick-slide img{
    width:100%;
}
/* #endregion SLIDER */

/* #region BOOKING */
.booking{
    color:var(--darkColor);
    text-align: center;
    background: url("../img/mountain3.jpeg")bottom fixed;
    background-size: cover;
    padding-bottom: 10rem;
}
.booking h1 span{
    color: var(--rocColorC);
}
.booking p{
    text-align: center;
}
#bookingForm{
    background: var(--background);
    padding: 2rem;
    border: 2px solid var(--background);
    border-radius: 1rem;
}
#bookingForm p{
    text-align: left;
}
legend{
    text-transform: uppercase;
}
fieldset, .booking textarea{
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.contactInformation{
    color: var(--rocColorO);
    border: 1.5px solid var(--rocColorO);
}
.contactInformation input{
    border: 1px solid var(--rocColorO);
}
.booking textarea{
    font-family: "DIN-Regular";
    border: 1.5px solid var(--rocColorO);
    width: 100%;
}
.booking input, .booking select{
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
}
.checkbox{
    display: flex;
    text-align: left;
    color: var(--rocColorR);
}
.checkbox input{
    width: unset;
    margin: 1rem;
}
.singleActivity fieldset, .rocCocktail fieldset{
    color: var(--darkColor);
    border: 1px solid var(--rocColorR);
}
.rookeasy, .rocWeekend{
    color:var(--rocColorC);
}
.participantsList{
    color: var(--darkColor);
    background-color: var(--bookingColor);
    border: 1px solid var(--bookingColor);
    border-radius: 1rem;
    padding: 0 0.5rem
}
.participant + .participant{
    border-top: 1.5px solid var(--rocColorR);
}
.basket{
    border: 1.5px solid var(--rocColorC);
    border-radius: 1rem; 
    padding: 2rem;
    text-transform: uppercase;
}
.basket tr:nth-child(even){
    background-color: var(--clearColor);
}
.basket th{
    color: var(--rocColorC);
    border-bottom: 1.5px solid var(--rocColorC);
}
.basket td{
    padding: 1rem
}
.basket td + td{
    text-align: right;
}
.basket tfoot{
    background-color: var(--rocColorC);
    color: var(--clearColor);
}
.booking button{
    margin: 1rem auto;
    background-color: var(--bookingColor);
    border: 1px solid var(--darkColor);
    color: var(--darkColor);
}
#deletActivityButton{
    border: 1px solid var(--require);
    color: var(--require);
}
/* .booking .red-border{
    border: 2px solid var(--require);
    border-radius: 5px;
} */
/* #endregion BOOKING */

/* #region BACK PAGE */
.backPage{
    position: relative;
    color:var(--darkColor);
    text-align: center;
    padding: 10rem 2rem;
    margin: 1rem;
}
.backPage h2{
    font-size: 2rem;
}
.backPage h3{
    font-size: 1.8rem; 
    text-transform: capitalize;
}
.backPage form{
    border: 2px solid var(--rocColorO);
    border-radius: 3rem;
    background-color: var(--bookingColor);
    padding: 1rem;
    width: 70vw;
    margin: 0 auto;
}
.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dashboardButton{
    transition: unset;
}
.dashboardAction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    border: 2px solid var(--rocColorC);
    border-radius: 3rem;
    width: 25%;
    padding: 1rem;
}
.connect, .dashboardButton, .update{
    color:var(--clearColor);
    border: 2px solid var(--rocColorO);
    background-color: var(--rocColorO);
    margin: 0;
}
.backPage input, .backPage select{
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid var(--rocColorO);
}
.backPage p{
    font-size: 2rem;
}
.logout, .more, .backButton{
    color:var(--rocColorC);
    text-transform: capitalize;
}
.logout{
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.more, .backButton{
    width: unset;
    padding: unset;
    border: unset;
    background: unset;
    text-align: left;
}
.backButton{
    font-family: 'DIN-Regular';
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
} 
.backPage table{
    color: var(--rocColorR);
    width: 100%;
    margin: auto;
}
.backPage table a{
    text-transform: unset;
    color:var(--rocColorO);
}
.backPage th, .backPage td{
    padding: 1rem;
}
.backPage th{
    background-color: var(--rocColorC);
    color: var(--clearColor);
}
.backActivities tr + tr{
    border-top: 2px solid var(--bookingColor);
}
.backActivities th + th,
.backActivities td + td{
    text-align: right;
}
.backPage .modale{
    position: fixed;
    color: var(--darkColor);
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    top: 40%;
    left: 25%;
    background: var(--bookingColor);
    box-shadow: 1px 1px 1px grey;
}
.modaleButton{
    color: var(--clearColor);
    background-color: var(--rocColorR);
    border: 2px solid var(--rocColorR);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: unset;
}
.validateButton{
    color: var(--clearColor);
    background-color: var(--rocColorO);
    border: 2px solid var(--rocColorO);
}
.cancelButton{
    color: var(--clearColor);
    background-color: var(--require);
    border: 2px solid var(--require);
}
.action{
    border: none;
    width: unset;
    padding: unset;
    color: var(--rocColorR);
}

/* #endregion BACK PAGE */

/* #region TEMPORARYBOOKING */
.temporaryBooking{
    text-align: center;
    color: var(--rocColorR);
    font-size: 2rem;
    background: url("../img/mountain3.jpeg")bottom fixed;
    background-size: cover;
    height: 70vh;
}
.temporaryBooking .message{
    position: absolute;
    width: 75vw;
    border: 2px solid var(--rocColorO);
    border-radius: 3.5rem;
    padding: 1rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.temporaryBooking .message a{
    text-transform:capitalize;
    color: var(--rocColorO);
}

/* #endregion TEMPORARYBOOKING */

/* #region CONTACT */
.contact{
    color: var(--darkColor);
    text-align: center;
    background: url("../img/mountain2.jpeg") bottom;
    background-size: cover;
}
.contact h1 span,
.contact a{
    color: var(--rocColorC);
}
.contact a{
    font-weight: bolder;
}
.contact form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: var(--background);
    border: 2px solid var(--rocColorC);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    height: 50rem;
}
.contact label{
    width: 30%;
    text-align: left;
}
.contact .field{
    width: 65%;
    border: 1px solid var(--rocColorC);
}
.contact button{
    color: var(--clearColor);
    background-color: var(--rocColorC);
    margin:1rem auto;
    border: 2px solid var(--rocColorC);
    border-radius: 3rem;
}
.contact span{
    color: var(--require);
}
.contact .validate{
    width: 100%
}
/* .contact .red-border{
    border: 2px solid var(--require);
    border-radius: 5px;
} */

/* #endregion CONTACT */

/* #region LEGAL */
.policy{
    color: var(--darkColor);
    text-align: justify;
    padding: 2rem;
}
.policy h1{
    text-align: center;
}
.policy h2{
    font-size: 2rem;
}
.policy h3{
    font-size: 1.8rem;
    text-transform: unset;
    margin-top: 2rem;
}
.policy span{
    font-family: DIN-Medium;
}
/* #endregion LEGAL */

/* #region FOOTER */
footer{
    color: var(--rocColorR);
    text-align: center;
    background: url("../img/background/bgFooter.png") bottom no-repeat;
    background-size: 100%;
    background-color: var(--clearColor);
    padding-top: 2rem;
}
footer a{
    color: var(--rocColorR);
    text-decoration: none;
}
.contactInfo a{
    text-transform: lowercase;
    font-family: DIN-Bold;
}
.network a{
    font-size: 5rem;
    margin:0 2rem;
}
.bottomBlocFooter{
    margin-top: 3rem;
    padding: 0 2rem 8rem 2rem;
}
.bottomBlocFooter a{
    text-transform: none;
    font-size: 1.2rem;
}
.bottomBlocFooter span{
    font-family: DIN-Bold;
}
/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* #region SMALL MOBILE (max-width: 450px) */
@media screen and (max-width: 500px) {
    .button{
        flex-direction: column;
        align-items: center;
    }
    .basket{
        font-size: 1rem;
    }
}
/* #endregion SMALL MOBILE (max-width: 450px) */

/* #region TABLET (min-width: 768px) */
@media screen and (min-width:768px){
    header{
        background: url('../img/background/bgHeader.png')bottom right no-repeat;
        background-size: cover;
    }
    .logo{
        max-width: 160px;
    }
    .navbar{
        font-size: 1.5rem;
        padding-right: 9rem;
    }
    .burger{
        display:none;
    }
    .navbar_links{
        flex-direction:row;
        position: unset;
        width: unset;
        height: unset;
        background: unset;
        overflow: unset;
        transition: unset;
    }
    .navbar_link{
        transform: translateX(0);
    }
    .navbar_link a{
        display: inline-block;
    }
    .navbar_link a:hover{
        padding-left: 1rem;
        letter-spacing: unset;
    }
    .navbar_activity a:hover{
        padding-left: 6rem;
    }
    .navbar_link a:after {
        display: block;
        content:"";
        width:0;
        height: 1px;
        background: var(--rocColorO);
        transition: width 0.4s;
    }
    .navbar_link:hover > a:after{
        width:100%;
    }
    .navbar_link{
        position: relative;
    }
    .navbar_activities{
        display:none;
        position: absolute;
        background: var(--clearColor);
        border: 1px solid var(--clearColor);
        border-radius: 0 0 30px 30px;
        transition: display 1.5s;
    }
    .navbar_link:hover .navbar_activities {
        display: block;
    }
    .navbar_activities li:last-of-type a{
        background-color: var(--clearColor);
        border-radius: 0 0 30px 30px;
    } 
    .fifth{
        padding-right: 0;
    }
    .fifth a{
        padding-right: 0;
    }
    .home p{
        max-width: 70%;
        margin: auto;
    }
    .price .table{
        order: 3;
    }
    .testimony p{
        font-size: unset;
    }
    footer{
        height: 20rem;
        display:flex;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: unset;
    }
    .topBlocFooter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width:100%;
        padding: 2rem 8rem 2rem 2rem;
    }
    .contactInfo{
        display: flex;
        align-items: center;
    }
    address{
        padding-top: 1rem;
        margin-left: 10rem;
    }
    footer p{
        text-align: left;
        margin: 0;
        font-size: 1rem;
    }
    .network a{
        font-size: 4rem;
        margin-left: 0;
    }
    .bottomBlocFooter{
        width: 100%;
        padding: 0;
        margin-top: -3rem;
    }
    .bottomBlocFooter a{
        color: var(--clearColor);
        font-size: 1.5rem;
    }
    /* FORM */
    .contact p, #contactForm, .booking p:not(#bookingForm p), #bookingForm{
        width:70%;
        margin: auto;
    }
    .contactInformation{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    div[class*='activityItem'] > div{
        display: flex;
        flex-wrap: wrap;
    }
    .myRocActivities{
        justify-content: space-between;
    }
    .myRocActivities div{
        width:48%;
    }
    .participantsList{
        justify-content: space-evenly;
    }
    .participantsList p{
        width:100%;
    }
    .participant{
        width: 200px;
        margin-bottom: 2rem;
    }
    .participant + .participant{
        border-top: unset;
    }
}
/* #endregion TABLET (min-width: 768px) */

/* #region DESKTOP (min-width: 980px) */
@media screen and (min-width:980px){
    .navbar{
        padding: 0 15rem 0 10rem;
    }
    .navbar_links{
        width:55%;
        justify-content: space-between;
    }
    .navbar > a{
        font-size: 2rem;
    }
    .activity{
        padding-left: 12rem; 
        padding-right: 12rem; 
    }
    .home p:last-of-type{
        padding-bottom: unset;
    }
    .home ul{
        display:flex;
        justify-content: space-between;
        padding: 3rem 10rem 14rem;
        margin-bottom: 0;
    }
    .home li{
        position:relative;
        max-width: 15%;
        height: 75vh;
    }
    .home .img{
        height:80%;
    }
    .home img{
        object-fit:cover;
        height:100%
    }
    .home li:nth-child(odd) .text{
        position: absolute;
        bottom:0;
        left: 5%;
        width:90%;
        height: 25%;
    }
    .home li:nth-child(even) .text{
        position: absolute;
        top:0;
        left: 5%;
        width:90%;
        height: 25%;
    }
    .home li:nth-child(even) .img{
        position: relative;
        top:20%;
    }
    .text{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .text h2{
        font-size: 1.3vw;
        margin-bottom: 0;
        padding-top: 2.5rem;
    }
    .text a{
        margin: 1rem;
    }
    .vttaeBloc, .archeryBloc{
        background: var(--rocColorO);
    }
    .vttaeBloc a, .archeryBloc a{
        font-size: 1vw;
        color: var(--rocColorO);
        background: var(--clearColor);
        border: 1px solid var(--clearColor);
        width: auto;
    }
    .vttaeBloc img, .archeryBloc img{
        position: absolute;
        height: auto;
    }
    .vttaeBloc img{
        width: 60%;
        bottom: 2rem;
        left: 1rem;
    }
    .archeryBloc img{
        width: 30%;
        bottom: 3rem;
        left: 2rem;
    }
    .paddleBloc, .snowboardBloc{
        background: var(--rocColorC);
    }
    .paddleBloc a, .snowboardBloc a{
        font-size: 1vw;
        color: var(--rocColorC);
        background: var(--clearColor);
        border: 1px solid var(--clearColor);
        width: auto;
    }
    .paddleBloc img, .snowboardBloc img{
        position: absolute;
        width: 45%;
        height: auto;
    }
    .paddleBloc img{
        bottom: 5rem;
        left: 1rem;
    }
    .snowboardBloc img{
        bottom: 3rem;
        right: 1rem;
    }
    .climbingBloc{
        background: var(--rocColorR)
    }
    .climbingBloc a{
        font-size: 1vw;
        color: var(--rocColorR);
        background: var(--clearColor);
        border: 1px solid var(--clearColor);
        width: auto;
    }
    .climbingBloc img{
        position: absolute;
    }
    .home .cocktail a{
        font-size: 1vw;
        background: var(--clearColor);
        border: 1px solid var(--rocColorO);
        width:auto;
    }
    .cocktailBottom p{
        color: var(--clearColor);
        position: relative;
        bottom: 75%;
        width:84%;
        font-size: 1.8rem;
        margin: auto;
        padding: 0;
    }
    .cocktailBottom span{
        color: var(--rocColorO);
    }
    .bike, .paddle{
        padding-bottom: 15rem;
    }
    .archery, .snowboard{
        padding-bottom: 25rem;
    }
    .activity{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h2, h3{
        width:100%;
    }
    .firstActivity{
        margin-top: unset;
    }
    .left_bloc{
        max-width: 38%;
    }
    .price{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .info{
        max-width: 58%;
    }
    .cocktail .info{
        max-width: 38%;
    }
    .table:not(.snowboard .table, .cocktail .table){
        max-width: 38%;
    }
    .cocktail .table{
        max-width: 58%;
    }
    .paddle th,
    .climbing th,
    .archery th{
        display:table-cell;
    }
    .description{
        max-width:58%;
    }
    .description p:first-child{
        margin-top: 0;
    }
    .mobile-button{
        display:none;
    }
    .desktop-button{
        display:flex;
    }
    .testimony{
        height: 140vh;
    }
    .testimony .sliderBloc{
        width: 50%;
        margin: unset;
        border-radius: 0 4rem 4rem 0;
    }
    footer{
        background-color: unset;
        height: 45vh;
        margin-top: -25rem;
    }
    .topBlocFooter{
        padding-top: 10rem;
        padding-left: 10rem;
        margin-bottom: -4rem;
    }
    footer p{
        font-size: 1.2rem;
    }
    .network{
        width: 43vw;
        text-align: left;
        padding-left: 2rem;
    }
    .booking, .contact{
        padding-bottom: 25rem;
    }
}
/* #endregion DESKTOP (min-width: 980px) */

/* #endregion MEDIA QUERIES */
