/*MOBILE FIRST*/
/********************************************************
CSS COMMUM
********************************************************/

/* déclaration de variables CSS */
:root {
    --white: #EDEDED;
    --black: #000;
    --dark-grey: #565656;
    --soft-grey: #e5e2e2;
    --green: #009641;
    --soft-green: #20a459;
    --blue: #0375be;
    --soft-blue: #2187c6;
    --cocktail: #002136;
}
/* fin de déclaration de variables CSS */

/* déclaration font */
@font-face{
    font-family: "DINBlack";
    src:url("font/DINBlack.ttf");
}
@font-face{
    font-family: "DINBold";
    src:url("font/DINBold.ttf");
}
@font-face{
    font-family: "DINMedium";
    src:url("font/DINMedium.ttf");
}
@font-face{
    font-family: "DINRegular";
    src:url("font/DINRegular.ttf");
}
* {
	box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}
html {
	font-size: 62.5%; /* 1rem = 10px */
    /* scroll-behavior: "smooth"; */
}
body{
    background-color: var(--soft-grey);
    font-family: DINRegular;
    font-size:1.2rem;
    color:var(--white);
    text-align:justify;
    line-height: 1.5;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
main{
    margin:0 auto;
}
section{
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top:-1rem;
}
img{
    max-width:100%;
}
h1, h2, h3, a{
    text-transform: uppercase;
}
h1{
    font-family: DINBlack;
    font-size: 2rem;
    margin-top: 0;
}
h2{
    font-family: DINBlack;
    font-size: 3.6rem;
    text-align: center;
    margin-top:0;
    /* margin-bottom: 1.5rem; */
    padding: 0.5rem;
}
h3{
    font-family: DINBold;
    font-size: 2rem;
    margin-top:0;
}
.price{
    margin-bottom: 2rem;
}
.price h3{
    margin-bottom: 1rem;
    padding:0.5rem 1rem;
}
.price p:first-child{
    margin-top: 0.5rem;
}
a{
    text-decoration:none;
}
ul{
    list-style:none;
    padding-left: 0;
}
table{
    border-collapse:collapse;
    text-align: left;
    width:100%;
}
th{
    border-bottom: 2px solid #fff;
    padding: 0.5em;
}
td{
    border-top: 1px solid #fff;
    padding: 0.5em;
}
.paddle th,
.climbing th,
.archery th{
    display: none;
}
.button{
    display:flex;
    justify-content: space-around;
    margin: 1rem auto;
}
.button a, .home a{
    font-family: DINMedium;
    font-size: 1.5rem;
    border-radius: 2rem;
    width:20rem;
    text-align: center;
    padding: 1rem;
    margin:1rem;
    transition: transform 1s;
}
.button a:hover{
    transform:scale(1.1);
}
.desktop-button{
    display:none;
}
.transition{
    margin-top: -1.5rem;
    /* margin-bottom: -1rem; */
}
.green{
    background-color: var(--green);
}
.blue{
    background-color: var(--blue);
}
.dark-grey{
    background-color: var(--dark-grey);
}
.roc{
    background-color: var(--cocktail);
}
.roc span:nth-child(3n+1){
    color:var(--dark-grey);
}
.roc span:nth-child(3n+2){
    color:var(--green);
}
.roc span:nth-child(3n+3){
    color:var(--blue);
}
/********************************************************
FIN CSS COMMUM
********************************************************/

/********************************************************
CSS HEADER
********************************************************/
header{
    position: sticky;
    top: 0;
    background: url('../resources/bgHEADER.png') bottom;
    z-index: 100;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    color: var(--black);
    font-family: DINBlack;
    font-size: 1.2rem;
}
.navbar_logo{
    max-width: 150px;
}
.navbar_links{
    display: flex;
    flex-direction: column;
    width:0;
    height:calc(100vh - 70px);
    position: absolute;
    top:68px;
    right:0;
    background: var(--white);
    margin:0;
    transition: all 0.5s ease-in-out;
}
.show_nav .navbar_links{
    width:100%;
}
.navbar_link{
    transform: translateX(101%);
}
.show_nav .navbar_link{
    transform: translateX(0);
}
.navbar_link > a{
    display: block;
    color: var(--black);
    padding: 1rem;
    transition: all 0.4s ease-in-out;
}
.navbar_link > a:hover{
    padding-left: 2rem;
    letter-spacing: 0.5rem;
}
.navbar_activity > a{
    display: block;
    color: var(--black);
    width: max-content;
    padding: 1rem 5rem;
    transition: all 0.4s ease-in-out;
}
.navbar_activity > a:hover{
    padding-left: 6rem;
    letter-spacing: 0.5rem;
    color: var(--green);
}
/* toggle menu */
.burger{
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height:45px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.bar{
    display: block;
    width: 45px;
    height: 4px;
    background: var(--black);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
.show_nav .bar{
    width:0;
    background: transparent;
}
.bar::before, .bar::after{
    content:'';
    position: absolute;
    left: 0;
    width: 45px;
    height: 4px;
    background: var(--black);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
.bar::before{
    transform: translateY(-12px);
}
.show_nav .bar::before{
    transform: rotate(45deg)
}
.bar::after{
    transform: translateY(12px);
}
.show_nav .bar::after{
    transform: rotate(-45deg)
}
/* animation */
.show_nav .first{
    transition: all 1s ease-out
}
.show_nav .second{
    transition: all 1.1s ease-out
}
.show_nav .third{
    transition: all 1.2s ease-out
}
.show_nav .four{
    transition: all 1.3s ease-out
}
.show_nav .fifth{
    transition: all 1.4s ease-out
}

/********************************************************
FIN CSS HEADER
********************************************************/


/********************************************************
CSS MAIN INDEX
********************************************************/
/* section home */
.home{
    text-align:center;
    padding: 0;
    background:  url('../resources/transitionVTT.png')bottom no-repeat, url("../img/mountain.png") center;
}
.home h1{
    color: var(--black);
    padding-top: 2rem;
}
.home h1 span{
    color: var(--blue);
}
.home p{
    font-size: 1.4rem;
    color: var(--dark-grey);
    width: 70%;
    margin: 1rem auto; 
}
.home p:last-of-type{
    padding-bottom: 10rem;
}
.home ul{
    display:none;
}
/* section bike */
.bike h2{
    margin-bottom: 0.5rem;
}
.bike h2 + h3{
    text-align: center;
}
.bike span{
    text-transform: lowercase;
}    
.bike .price h3{
    background-color: #fff;
    color: var(--green);
}
.bike .button a{
    color:var(--white);
    border: 2px solid var(--white);
}

/* section paddle */
.paddle{
    color:var(--dark-grey);
    background: url('../resources/transitionESCALADE.png')bottom no-repeat;
    padding-bottom: 8rem;
}
.paddle h2, .paddle h3{
    color:var(--blue);
}
.paddle .price{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem;
}
.paddle .price h3{
    background-color: #fff;
}
.paddle .button a{
    color:var(--blue);
    border: 2px solid var(--blue);
}

/* section climbing */
.climbing h3{
    color:var(--green);
}
.climbing .price h3{
    color:var(--dark-grey);
    background-color: #fff;
}
.climbing .button a{
    color:var(--white);
    border: 2px solid var(--white);
}

/* section archery */
.archery{
    color:var(--dark-grey);
}
.archery h2{
    color:var(--green);
}
.archery .price{
    background-color: var(--green);
    color: var(--white);
    padding: 1rem;
}
.archery .price h3{
    background-color: #fff;
    color: var(--green);
}
.archery .button a{
    color:var(--green);
    border: 2px solid var(--green);
}

/* section snowboard */
.snowboard h3{
    background-color: #fff;
    color: var(--blue);
}
.snowboard .button a{
    color:var(--white);
    border: 2px solid var(--white);
}

/* section cocktail */
.cocktail .price{
    background-color: #fff;
    color: var(--dark-grey);
    padding: 1rem;
}
.cocktail h3{
    background-color: var(--cocktail);
    color: var(--white);
}
.cocktail .button a{
    background: linear-gradient(90deg, var(--dark-grey) 30%, var(--green)50%, var(--blue)60%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border: 2px solid var(--green);
}
.roc .table th{
    color: var(--dark-grey);
    border-bottom: 2px solid var(--dark-grey);
}
.roc .table td{
    border-bottom: 2px solid var(--green);
} 
.roc .table td span{
    color: var(--green);
}
.roc .table tr:last-of-type td{
    border-bottom: 2px solid var(--blue);
} 
.roc .table tr:last-of-type td span{
    color: var(--blue);
}

/********************************************************
FIN CSS MAIN INDEX
********************************************************/

/* ******************************************************
CSS SLIDER
********************************************************/
.slick-next::before, 
.slick-prev::before {
	font-size: 2rem;
	color: #ebe3db;
}
.slick-next {
	right: 1rem;
}
.slick-prev {
	left: 1rem;
	z-index:1;
}

/* ******************************************************
FIN CSS SLIDER
********************************************************/

/********************************************************
CSS BOOKING
********************************************************/
.booking{
    color:var(--black);
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hide{
    display:none;
}
/********************************************************
CSS FOOTER
********************************************************/
footer{
    height: 279px;
    color: var(--dark-grey);
    text-align: center;
    background: url("../resources/bgFOOTER.png") bottom no-repeat;
}
footer a{
    color: var(--dark-grey);
    text-transform: lowercase;
}
footer .network a{
    font-size: 5rem;
    margin:0 2rem;
}
/********************************************************
FIN CSS FOOTER
********************************************************/


/********************************************************
CSS MEDIA QUERIES
********************************************************/


/********************************************************
SMALL MOBILE (max-width: 450px)
********************************************************/
@media screen and (max-width: 450px) {
    .button{
        flex-direction: column;
        align-items: center;
    }
}

/********************************************************
TABLET (min-width: 780px)
********************************************************/
@media screen and (min-width:780px){
    .navbar_logo{
        max-width: 160px;
    }
    .navbar{
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        /* background: url("../resources/borderHEADER.png") bottom repeat-x; */
    }
    .burger{
        display:none;
    }
    .navbar_links{
        flex-direction:row;
        position: unset;
        width: unset;
        height: unset;
    }
    .navbar_link{
        padding:0 1rem;
        transform: translateX(0);
    }
    .navbar_link > a{
        color: var(--black);
        font-size: 1.3rem;
    }
    .navbar_link > a:hover{
        padding-left: 1rem;
        letter-spacing: unset;
    }
    .navbar_activity{
        display:initial;
    }
    .navbar_activity > a:hover{
        padding-left: 6rem;
        letter-spacing: unset;
    }
    .navbar_link > a:after {
        display: block;
        content:"";
        width:0;
        height: 2px;
        background: var(--green);
        transition: width 0.4s;
    }
    .navbar_link:hover > a:after{
        width:100%;
    }
    .navbar_link{
        position: relative;
    }
    .navbar_activities{
        display:none;
        position: absolute;
        background: var(--white);
        /* max-height: 0;
        overflow: hidden; */
        transition: display 1.5s;
    }
    .navbar_link:hover .navbar_activities {
        /* max-height: 20em; */
        display: block;
    }
    .description{
        display:flex;
        flex-direction: column;
    }
    .price{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .price h3{
        width: 100%;
    }.price div{
        max-width: 48%;
    }
    .price .table{
        order: 3;
    }
    .paddle th,
    .climbing th,
    .archery th{
        display:table-cell;
    }
    footer{
        display:flex;
        justify-content:space-around;
        align-items: center;
        text-align: left;
        padding-bottom: 4rem;
    }
    footer img{
        max-width: 250px;
    }
    footer p{
        margin: 0;
        font-size: 1.2rem;
    }
    footer .network a{
        font-size: 3rem;
        margin-left: 0;
    }
}

/********************************************************
DESKTOP (min-width: 980px)
********************************************************/
@media screen and (min-width:980px){
    .navbar_link > a{
        font-size: 1.4rem;
    }
    .home p:last-of-type{
        padding-bottom: unset;
    }
    .home ul{
        display:flex;
        justify-content: space-between;
        padding: 3rem 5rem 10rem;
        margin-bottom: 0;
        /* height:50vh; */
    }
    .home li{
        position:relative;
        max-width: 15%;
        height: 50vh;
    }
    .home img{
        height:80%;
        object-fit:cover;
    }
    .home li:nth-child(odd) div{
        position: absolute;
        bottom:0;
        left: 10%;
        width:80%;
        height: 35%
    }
    .home li:nth-child(even) div{
        position: absolute;
        top:0;
        left: 10%;
        width:80%;
        height: 35%;
    }
    .home li:nth-child(even) img{
        position: relative;
        top:20%;
    }
    .home h2{
        font-size: 2rem;
        margin-bottom: 0; 
    }
    .home a{
        font-size: 1.2rem;
        color:var(--white);
        border: 1px solid var(--white);
        width:auto;
    }
    .home div{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .desktop{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: space-between;
    }
    .desktop h2, .desktop h3{
        width:100%;
    }
    /* article h3{
        padding-top:0;
    } */
    .desktop .left_bloc{
        max-width: 38%;
    }
    .desktop .description{
        max-width:60%;
    }
    .desktop .description p:first-child{
        margin-top: 0;
    }
    .mobile-button{
        display:none;
    }
    .desktop-button{
        display:flex;
    }
}

/********************************************************
FIN CSS MEDIA QUERIES
********************************************************/
.scrollToTopBtn{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:100;
    /* display:block; */
    background-color:var(--cocktail);
    color: var(--white);
    border-radius: 50%;
    font-size: 2.5rem;
}





